<div class=" bg-white/10 border border-white/60 p-8 lg:px-16 py-14 rounded-2xl flex items-center justify-center w-full relative overflow-hidden">
    <img src="https://res.cloudinary.com/ddhjg0j3u/image/upload/v1774621766/cta_e6dcct.webp"
         class="absolute object-cover inset-0 size-full -z-10" alt="">

    <div class="flex flex-col items-center gap-4 relative">

        <h1 class="text-2xl lg:text-4xl text-center font-black text-primary leading-tight">
            Can't Find What <br />
            <span class="bg-accent/60 text-white px-2 rounded-sm">You're Looking For?</span>
        </h1>

        <p class="lg:text-sm text-xs text-center text-gray-700 font-light max-w-sm leading-tight">
            Make a really specific request to our agents and we will get back to you.
        </p>

        <button onclick="openRequestModal()"
                class="lg:mt-2 px-7 py-2.5 bg-primary hover:bg-primary/90 text-white text-sm font-semibold rounded-lg shadow-md hover:shadow-lg transition-all duration-200 ease-in-out">
            Make a Request
        </button>
    </div>
</div>