
<div class="relative overflow-hidden rounded-2xl col-span-full">
  <img src="https://res.cloudinary.com/ddhjg0j3u/image/upload/v1774621760/careers-bg_bdjeuz.webp" class="absolute object-cover inset-0 size-full -z-10 pointer-events-none select-none" alt="">
  <div class="bg-gray-950/50 backdrop-blur-lg px-10 lg:px-8 py-8 flex flex-col sm:flex-row items-center justify-between gap-6 ">


    <div class="hidden w-16 h-16 rounded-2xl bg-white/10 lg:flex items-center justify-center shrink-0 z-10">
      <i class="fas fa-home text-white text-2xl"></i>
    </div>

    <div class="flex-1">
      <h3 class="text-white font-bold text-lg">
        Have a property to list?
      </h3>
      <p class="text-white/60 text-xs mt-0.5 max-w-64">
        Reach thousands of verified renters and buyers across Abuja. Free to list, no commission.
      </p>
    </div>

    <div class="flex gap-3 lg:gap-3 shrink-0 flex-col lg:flex-row max-lg:w-full">
      <a href="{% url 'add_property' %}"
         class="px-8 py-2.5 bg-blue-500 hover:bg-blue-600 text-white text-sm font-semibold rounded-xl transition max-lg:w-fit">
        List for Free
      </a>
      <a href="{% url 'about' %}"
         class="px-8 py-2.5 border border-gray-700 hover:border-gray-500 text-gray-300 hover:text-white text-sm font-semibold rounded-xl transition max-lg:w-fit max-lg:ml-auto">
        Learn more
      </a>
    </div>

  </div>
