<div class="w-full bg-white p-10 rounded-xl flex items-center justify-center col-span-3 shadow-md relative my-5">
    <img src="/media/properties/ve/Y2K Shapes113.svg" class="absolute top-1/2 -translate-y-1/2 left-2 text-accent rotate-12 z-0 bg-primary" alt="">
    <img src="/media/properties/ve/Y2K Shapes65.svg" class="absolute top-1/2 -translate-y-1/2 right-2 text-accent rotate-12 z-0 bg-primary" alt="">
    <div class="flex flex-col text-primary gap-3">
        <h1 class="text-2xl text-center">Can't Find What You're Looking For?</h1>
        <p class="text-xm text-center text-gray-500">Make a quick request and we'll get back to you as soon as possible</p>

        <button onclick="openRequestModal()" class="px-5 py-2.5 border border-gray-700 hover:border-gray-500 text-gray-300 hover:text-white text-sm font-semibold rounded-xl transition max-lg:w-fit max-lg:ml-auto">
            Make a Request
        </button>
    </div>
</div>